<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update A Users</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
    <div class="topnav">
        <a  href="/">Home</a>
        <a  href="/create" >Create USers</a>
       
    </div>
    <div class="from-add-new">
      <form action="/update-user" method="POST">
       <fieldset>
            <legend>Update A Users</legend>
        
        <div class="input_group d-none">
            <label>ID: </label>
            <input type="text" name="userId"
            value="<%= userEdit.id %>" />
        </div>    
        <div class="input_group">
            <label>Email: </label>
            <input type="text" name="email"
            value="<%= userEdit.email %>" />
        </div>
        <div class="input_group">
            <label>Name: </label>
            <input type="text" name="name"
            value="<%= userEdit.name %>"/>
        </div>
        <div class="input_group">
            <label>City: </label>
            <input type="text" name="city" 
            value="<%= userEdit.city %>"/>
        </div>
        <div>
            <button>Save</button>
        </div>
       </fieldset>
      </form>
    </div>
</body>
</html>